<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap-4.0.0/bootstrap-4.0.0/dist/css/bootstrap.css">    
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body class="body-allDirectory">
    <%- include('parts/header') %>
    <main class="container container-allCourse">
        <div class="setPage-setDetailsInfo d-flex mt-3 justify-content-between">
            <div class="setPageHeader">
                <div class="setPageHeader-info setPageHeader-allCourse d-flex">
                    <div class="setPageHeader-avatar">
                        <img style="border-radius: 50%; width: 65px;" class="setPageHeader-avatar--circle"
                            src="/images/84628273_176159830277856_972693363922829312_n.jpg" alt="">
                    </div>

                    <div class="setPageHeader-createdBy align-self-end ml-1 ml-3">
                        <div class="createdBy-nickName">
                            <%= userInfor.username %>
                        </div>
                        <div class="createddBy-author">
                            <%= userID %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="DashboardAllCourse-main">
            <div class="DashboardAllCourse-content">
                <div class="DashboardAllCourse-option d-flex justify-content-between">
                    <div class="dropdown dropdown-allCourse-arrangeByTime">
                        <button class="btn btn-light dropdown-toggle btn-arrangeByTime" type="button"
                            data-toggle="dropdown" aria-expanded="false">
                            Gần đây
                        </button>
                        <div class="dropdown-menu">
                            <button class="dropdown-item" type="button">Gần đây</button>
                            <button class="dropdown-item" type="button">Đã tạo</button>
                            <button class="dropdown-item" type="button">Đã học</button>
                        </div>
                    </div>

                    <div class="search-course">
                        <div class="mb-3">
                            <div class="input-group is-invalid">
                                <input type="text" class="form-control" aria-describedby="validatedInputGroupPrepend"
                                    required placeholder="Tìm kiếm khóa học">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="validatedInputGroupPrepend"><i
                                            class="fa-solid fa-magnifying-glass"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="DashboardAllDir-activityFeed">
                    <div class="activityFeed-header d-flex">
                        <h3 style="font-size: 15px; width: 6%; margin-bottom: 0px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;">Thư mục</h3>
                        <div class="DashboardFeedGroup-separator">
                            <hr class="UIHorizontalRule">
                        </div>
                    </div>

                    <div class="activityFeed-allDir">
                        <% allFolders.forEach(function(folder){ %>
                            <div class="activityFeed-dir pointer-btn">
                                <div class="activityFeed-dir__info ">
                                    <span class="activityFeed__info-numsOfTerms"><%= folder.courses!=undefined?folder.courses.length:0 %> Học phần</span>
                                    <div class="activityFeed__info-createdBy d-flex">
                                        <div class="setPageHeader-avatar">
                                            <img style="border-radius: 50%; width: 20px;"
                                                class="setPageHeader-avatar--circle mr-1"
                                                src="/images+/84628273_176159830277856_972693363922829312_n.jpg" alt="">
                                        </div>
                                        <div class="info__createdBy-author">
                                            <%= userInfor.username %>
                                        </div>
                                    </div>
                                </div>
                                <div class="activityFeed-dir__nameDir">
                                    <i class="fa-regular fa-folder mr-1" style="color: #b3b4b7; font-size: 20px;"></i>
                                    <a><%= folder.title %></a>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>