<!doctype html>
<html lang="en">

<head>
  <title>Home</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/stylesheets/bootstrap-4.0.0/bootstrap-4.0.0/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
  <div class="site">
    <%- include('parts/header') %>
      <main class="page">
        <div class="DashboardLayout">
          <div class="Dashboard-main col-9">
            <div class="dashboard-main__achievement">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: rgb(246, 247, 251);">
                  <li class="breadcrumb-item active" aria-current="page"><b>Thành tựu</b></li>
                </ol>
              </nav>
              <div class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-7 d-flex flex-row">
                    <div class="col-4">
                      <img src="/images/streak-Week.svg" alt="...">
                    </div>
                    <div class="col-8 dash-series">
                      <h1 class="dash__title-series">
                        Chuỗi Học 
                      </h1>
                      <p class="dash__remind">
                        Hãy học vào <b>tuần tới</b> để duy trì chuỗi của bạn!
                      </p>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="card-body">
                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col" class="th--align-center">S</th>
                            <th scope="col" class="th--align-center">M</th>
                            <th scope="col" class="th--align-center">T</th>
                            <th scope="col" class="th--align-center">W</th>
                            <th scope="col" class="th--align-center">T</th>
                            <th scope="col" class="th--align-center">F</th>
                            <th scope="col" class="th--align-center">S</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <% learningChain.forEach(learningDate=>{ %>
                              <td class="td-wrap">
                                <div class="td-content">
                                  <abbr title="<%= learningDate.day %> Tháng <%= learningDate.month %>, <%= learningDate.year %>">
                                    <%= learningDate.day %>
                                  </abbr>
                                  <% if(learningDate.isLearning){ %>
                                    <img
                                      alt="Ngày học"
                                      src="https://assets.quizlet.com/a/j/dist/app/i/achievements/streak-flame.90821ad6fa84e8e.svg"
                                      title="Bạn đã học vào ngày này!"
                                    />
                                  <% } %>
                                </div>
                              </td>
                            <% }) %>
                          </tr>
                        </tbody>                                            
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="dashboard-main__recent">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-1" style="background-color: rgb(246, 247, 251);">
                  <li class="breadcrumb-item active" aria-current="page"><b>Gần đây</b></li>
                </ol>
              </nav>
              <!-- a row -->
              <div class="db-m__recent-row row d-flex justify-content-between RecentFeed-cards">
                <% if(latestCoursesAccessed){ %>
                  <% latestCoursesAccessed.forEach((course)=>{ %>
                    <div class="<%= latestCoursesAccessed.length==2?"col-sm-6":"col-sm-4" %>">
                      <div class="card setCard-content">
                        <div class="card-body setCard">
                          <div class="setCard-text">
                            <a href="/<%= course.owner.username %>/courses/<%= course._id %>/flash-card">
                              <div class="setCard-text__header">
                                <h4 class="card-title setCard__title-course mb-2"><%= course.titleCourse %></h4>
                                <div class="setCard__numOfTerms">
                                  <%= course.cards.length %> <span>Thuật ngữ</span>
                                </div>
                              </div>
                            </a>
                            <div class="setCard-text__footer">
                              <div class="setCard__userAvatar">
                                <a href="#">
                                  <img src="<%= course.owner.imageProfile!=" "?course.owner.imageProfile:"https://firebasestorage.googleapis.com/v0/b/image-edu-25269.appspot.com/o/files%2F84628273_176159830277856_972693363922829312_n.jpg?alt=media&token=1e381211-c8c8-49a1-a51d-1fedc82530b0" %>" alt="">
                                </a>
                              </div>
                              <div class="setCard__username ">
                                <a href=""><%= course.owner.username %></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% }) %>
                <% } %>
              </div>
            </div>

            <div class="dashboard-main__createdByMe mt-3">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-1" style="background-color: rgb(246, 247, 251);">
                  <li class="breadcrumb-item active" aria-current="page"><b>Đã tạo</b></li>
                </ol>
              </nav>

              <!-- a row -->
              <div class="db-m__created-row row d-flex justify-content-between Created-cards">
                <% if(latestCoursesBeCreated){ %>
                  <% latestCoursesBeCreated.forEach(course=>{ %>
                    <div class="<%= latestCoursesBeCreated.length==2?"col-sm-6":"col-sm-4" %>">
                      <div class="card setCard-content">
                        <div class="card-body setCard">
                          <div class="setCard-text">
                            <a href="/<%= userInfor.username %>/courses/<%= course._id %>/flash-card">
                              <div class="setCard-text__header">
                                  <h4 class="card-title setCard__title-course mb-2"><%= course.titleCourse %></h4>
                                  <div class="setCard__numOfTerms">
                                    <%= course.cards.length %> <span>Thuật ngữ</span>
                                  </div>
                                </div>
                            </a>
                            <div class="setCard-text__footer">
                              <div class="setCard__userAvatar">
                                <a href="#">
                                  <img src="<%= userInfor.imageProfile!=" "?userInfor.imageProfile:"https://firebasestorage.googleapis.com/v0/b/image-edu-25269.appspot.com/o/files%2F84628273_176159830277856_972693363922829312_n.jpg?alt=media&token=1e381211-c8c8-49a1-a51d-1fedc82530b0" %>" alt="">
                                </a>
                              </div>
                              <div class="setCard__username ">
                                <a href=""><%= userInfor.username %></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% }) %>
                <% } %>
              </div>
            </div>
          </div>
          <div class="Dashboard-advertisement col-3">
            <img src="/images/2071251173145263698.gif" alt="">
          </div>
        </div>
      </main>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>